/* pre css */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    font-size: 10px;
}
html body ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
html body {
    a {
        text-decoration: none;
        color: initial;
    }
    a:hover {
        color: black;
    }
    a[role="button"]:hover {
        color: white;
    }
    h1,h2,h3,h4,h5,h6,figure,blockquote,dl,dd,p {
        margin: 0;
        padding: 0;
    }
    [class^="col-"] {
        padding: 0;
    }
    .row {
        --bs-gutter-x: 0;
        --bs-gutter-y: 0;
    }
    img {
        max-width: 100%;
        display: block;
    }
    textarea {
        resize: none;
    }
}

/* ---------------------------------------------------------------------- */
/* root variables */
:root {
    --bs-body-font-family: "pop-regular";
    --vivian: rgb(233, 78, 27);
    --brick-red:rgb(216, 91, 79);
    --burgundy: rgb(190,71,75);
    --maroon: rgb(175, 72, 88);
    --plum: rgb(154,71,105);
    --sky-blue: rgb(133, 202, 255);
    --dark-blue: rgb(3, 18, 62);
    --dark-teal: rgb(39, 68, 93);
    --dark-slate-gray: rgb(33, 46, 71);
    --light-gray: rgb(151, 153, 161);
    --lighter-gray: rgb(227, 227, 230);
    --golden-brown: rgb(225, 162, 75);
}
/* text color classes */
.text-vivian{ color: var(--vivian); }
.text-brick-red{ color: var(--brick-red); }
.text-burgundy{ color: var(--burgundy); }
.text-maroon { color: var(--maroon); }
.text-plum{ color: var(--plum); }
.text-sky-blue{ color: var(--sky-blue);}
.text-dark-blue { color: var(--dark-blue); }
.text-dark-teal { color: var(--dark-teal); }
.text-dark-slate-gray { color: var(--dark-slate-gray); }
.text-light-gray{ color: var(--light-gray);}
.text-lighter-gray{ color: var(--lighter-gray);}
.text-golden-brown { color: var(--golden-brown); }
/* background color classes */
.bg-vivian{ background-color: var(--vivian); }
.bg-brick-red{ background-color: var(--brick-red); }
.bg-burgundy{ background-color: var(--burgundy); }
.bg-maroon { background-color: var(--maroon); }
.bg-plum{ background-color: var(--plum); }
.bg-sky-blue{ background-color: var(--sky-blue);}
.bg-dark-blue { background-color: var(--dark-blue); }
.bg-dark-teal { background-color: var(--dark-teal); }
.bg-dark-slate-gray { background-color: var(--dark-slate-gray); }
.bg-light-gray{ background-color: var(--light-gray);}
.bg-lighter-gray{ background-color: var(--lighter-gray);}
.bg-golden-brown { background-color: var(--golden-brown); }

/* ---------------------------------------------------------------------- */
/* font family */
@font-face {
    font-family: "pop-black";
    src: url("../fonts/Poppins/Poppins-Black.ttf");
}
@font-face {
    font-family: "pop-bold";
    src: url("../fonts/Poppins/Poppins-Bold.ttf");
}
@font-face {
    font-family: "pop-extrabold";
    src: url("../fonts/Poppins/Poppins-ExtraBold.ttf");
}
@font-face {
    font-family: "pop-light";
    src: url("../fonts/Poppins/Poppins-Light.ttf");
}
@font-face {
    font-family: "pop-medium";
    src: url("../fonts/Poppins/Poppins-Medium.ttf");
}
@font-face {
    font-family: "pop-regular";
    src: url("../fonts/Poppins/Poppins-Regular.ttf");
}
@font-face {
    font-family: "pop-semibold";
    src: url("../fonts/Poppins/Poppins-SemiBold.ttf");
}

/* ---------------------------------------------------------------------- */
/* classes for font-family */
.pop-black { font-family: "pop-black"; }
.pop-bold { font-family: "pop-bold"; }
.pop-extrabold { font-family: "pop-extrabold"; }
.pop-light { font-family: "pop-light"; }
.pop-medium { font-family: "pop-medium"; }
.pop-regular { font-family: "pop-regular"; }
.pop-semibold { font-family: "pop-semibold"; }

/* ---------------------------------------------------------------------- */
/* font-size only for heading */
.fs--75 { font-size: 7.5rem; }
.fs--65{ font-size: 6.5rem; }
.head--xxl { font-size: 5rem; }
.head--xl { font-size: 4rem; }
.head--l { font-size: 3.6rem; }
.head--m { font-size: 3.2rem; }
.head--r { font-size: 3rem; }
.head--s { font-size: 2.8rem; }
.head--xs { font-size: 2.6rem; }

/* ---------------------------------------------------------------------- */
/* font-size for heading, paragraph, button, anchor, span */
.fs--xxl { font-size: 2.4rem; }
.fs--xl { font-size: 2.2rem; }
.fs--l { font-size: 2rem; }
.fs--m { font-size: 1.8rem; }
.fs--r { font-size: 1.6rem; }
.fs--s { font-size: 1.4rem; }
.fs--xs { font-size: 1.2rem; }

/* ---------------------------------------------------------------------- */
/* common classes for html elements */
.wrapper {
    position: relative;
    width: 100%;
}
.inner-wrapper {
    position: relative;
    margin: 0 auto;
}
.inner-tab {
    position: relative;
    margin: 0 auto;
}
.height-inherit {
    height: inherit;
}
.width-inherit {
    width: inherit;
}
.width-fitcontent {
    width: fit-content;
}
.m-start-auto {
    margin-left: auto;
}
.m-end-auto {
    margin-right: auto;
}
.justify-items-center {
    justify-items: center;
}
.justify-self-start {
    justify-self: start;
}
.justify-self-center {
    justify-self: center;
}
.justify-self-end {
    justify-self: end;
}
.bg-relative-mask {
    position: relative;
    z-index: 1;
}

/* ---------------------------------------------------------------------- */
/* common grid classes */
.grid-flow-column {
    grid-auto-flow: column;
}
.grid-flow-row {
    grid-auto-flow: row;
}
.grid-columns-2 {
    grid-template-columns: repeat(2, 1fr);
}
.grid-columns-3 {
    grid-template-columns: repeat(3, 1fr);
}
.grid-columns-4 {
    grid-template-columns: repeat(4, 1fr);
}
.grid-columns-5 {
    grid-template-columns: repeat(5, 1fr);
}
.grid-columns-6 {
    grid-template-columns: repeat(6, 1fr);
}
/* gap classes */
.gap5 {gap: 5rem;}
.gap6 {gap: 6rem;}
.gap10 {gap: 10rem;}
/* ---------------------------------------------------------------------- */
/* common padding classes and margin-classes */
.py-7 {
    padding-top: 7rem;
    padding-bottom: 7rem;
}
.px-7 {
    padding-left: 7rem;
    padding-right: 7rem;
}
.py-6 {
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.px-6 {
    padding-left: 6rem;
    padding-right: 6rem;
}
.p_tb-5 {
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.p_lr-5 {
    padding-left: 5rem;
    padding-right: 5rem;
}
.m_t_5 {
    margin-top: 5rem;
}
.m_b_5 {
    margin-bottom: 5rem;
}
/* ---------------------------------------------------------------------- */
/* button classes */


/* ---------------------------------------------------------------------- */
.hb__Line::before,.hb__Line::after {
    content: '';
    position: absolute;
    width: 20%;
    height: 4px;
    background: var(--dark-blue);
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
}
.hb__Line::before {
    left: -10px;
}
.hb__Line::after {
    right: -10px;
}