@media screen and (max-width: 600px){
    html{
        font-size: 7px;
    }
    .inner-wrapper {
        width: 95%;
    }
}
@media screen and (max-width: 1025px) {
    header nav{
        display: flex;
        justify-content: space-between;
    }
    .navLinks {
        position: fixed;
        flex-flow: column;
        background: rgba(255, 255, 255, .4);
        top: 14%;
        z-index: 9999;
        width: 100%;
        right: -100%;
        backdrop-filter: blur(15px) brightness(90%);
        height: 60vh;
        padding: 20px;
        transition: 250ms ease-in-out;
    }
    .navLinks.show{
        right: 0;
    }
}
/* small tablet */
@media screen and (min-width: 601px){

}
@media screen and (min-width: 601px) and (max-width: 1023px){
    html{
        font-size: 7px;
    }
    .navLinks{
        top: 11%;
    }
    .h__sec2 .grid-columns-6{
        grid-template-columns: repeat(4,1fr);
    }
    .h__sec3 .grid-columns-4,.h__sec7 .grid-columns-4{
        grid-template-columns: repeat(2,1fr);
    }
    footer .grid-columns-4{
        grid-template-columns: repeat(2,1fr);
    }
}
/* large tablet */
@media screen and (min-width: 1024px){

}
@media screen and (min-width: 1024px) and (max-width: 1199px){
    html{
        font-size: 7px;
    }
    .navLinks{
        top: 8%;
    }
    .h__sec2 .grid-columns-6{
        grid-template-columns: repeat(4,1fr);
    }
    .h__sec3 .grid-columns-4{
        grid-template-columns: repeat(2,1fr);
    }
    footer .grid-columns-4{
        grid-template-columns: repeat(2,1fr);
    }
}
/* small desktop */
@media screen and (min-width: 1200px){

}
@media screen and (min-width: 1200px) and (max-width: 1439px){
    html{
        font-size: 7px;
    }
    footer .grid-columns-4{
        grid-template-columns: repeat(3,1fr);
    }
}
/* medium destop */
@media screen and (min-width: 1440px){

}
@media screen and (min-width: 1440px) and (max-width: 1599px){
    html{
        font-size: 7.5px;
    }
}
/* large desktop */
@media screen and (min-width: 1600px){

}
@media screen and (min-width: 1600px) and (max-width: 1919px){
    html{
        font-size: 8px;
    }
}
/* extra large desktop */
@media screen and (min-width: 1920px){
    h1{color:red};
}
